/*add custom properties*/
:root {
    --primary-color: #53565a;
    --secondary-color: #4276ee ;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family:  Helvetica, Arial, sans-serif;
    color: black;
}

  /*header section */
header {
    padding: 10px 20px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    /* "stick" the header */
    position: sticky;
    top: 0;
    background-image: url("./img/matrix.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    /*keep this element on top of all the other ones */
    z-index: 9999;
}

  header h1{
      font-weight: bold;
      font-size: 36px;
      color: white;
      margin: 0;
      padding-left: 8px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header a {
      text-decoration: none;
      color: white;
  }

  header nav{
      margin: 7px 0;
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.8vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  header nav ul li a:hover {
    background-image: linear-gradient(to bottom right,skyblue, rgb(11, 11, 65));
    color: white;
    font-weight: bold;
    border-radius: 15px;
    text-shadow: none;
  }

/* footer section */
footer {
    padding: 10px 35px 10px 35px;
    background-color: rgb(11, 11, 65);
    /* background-image: linear-gradient(to bottom right,skyblue, rgb(11, 11, 65)); */
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  /* Intro section */

.intro {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;
    background-image: url("./img/matrix.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}

.intro-text {
    width: 50%;
    margin: 3.5%;
    color: white;
    line-height: 1.5;
    font-size: 2.5vw;
}
.intro p{
    margin-bottom: 4%;
}

.intro img{
    width: 15%;
    border-radius: 30%;
}

/* H3 headers */
h3 {
    font-size: 3.0vw;
    border-bottom: 3px solid;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 60%;
    text-shadow: 0 0 5px rgb(159, 157, 157);
}

.accordion-button{
    font-size: 3.5vw;
}

/* About me section*/
.about-me-description{
    width: 65%;
    margin: 3.5px auto 3.5px auto;
    line-height: 1.5;
    display: block;
    justify-content: center;
    font-size: 2.3vw;
    text-align: center;
}

/* my work section */

.image-title a{
    font-size: 2.3vw;
    font-weight: bolder;
    color: navy; 
    text-decoration: none;
}

.img-thumbnail {
    box-shadow: 3px 2px#888888;
}

.skill {
    background-color: var(--primary-color);
    margin: 0 10px 4px 0px;
    width: 45%;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    padding-bottom:  5px;
    border-radius: 15px;
}

h4{
    font-size: 2vw;
    text-shadow: 0 0 5px rgb(159, 157, 157);
}



/* Contact me section */


.contact {
    background-color: var(--primary-color);
    padding-bottom: 20px;
    color: white;
    border-top: 10px solid rgb(11, 11, 65);
}

.contact-info {
    margin: 0 30px;
}


.motto p{
    font-style: italic;
    text-align: center;
    font-size:  1.5vw;
}

address {
    text-align: center;
}

.address p{
    line-height: 2;
    font-weight: bold;
    font-size:  1.5vw;
}

address a {
    text-decoration: none;
    color: navy;
    font-weight: bolder;

    font-size:  1.5w;
}


.resume div{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto 0 auto;
}

.resume a {
    text-decoration: none;
    color: black;
    border-radius: 10px;
}


button {
    padding: 15px 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    flex: 1 ;
    border-style: solid;
    border-color: black;
}

.resume button:hover, .resume a:hover {
   background-image: linear-gradient(to bottom right,skyblue, rgb(11, 11, 65));
   color: white;

}

@media screen and (min-width: 1600px) {
        .address p, .motto p{
            font-size: calc(16px + 6 * ((100vw - 320px) / 680));  
    }
  }